.add-theme__dropdown {
  margin-bottom: 25px;
}

.edit-subtheme__field {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .add-theme__dropdown {
    margin-bottom: 0;
  }
}
