.edit-curator__row {
    display: flex;
}

.edit-curator__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-curator__field-label {
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 20px;
}

.edit-curator__field-column {
    display: flex;
    flex-direction: column;
}

.edit-curator__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-curator__btn-row {
    display: flex;
    gap: 20px;
}

.edit-curator__btn {
    width: 200px !important;
}

@media screen and (max-width: 768px) {
    .edit-curator__btn-row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .add-curator__btn {
        width: 100% !important;
    }
}