.form__column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#TextareaForm {
  width: 672px;
  padding: 20px 13px;
  resize: none;
}

#FileInputForm {
  width: 672px;
}

.form__error {
  font-family: "TT Norms Pro", sans-serif;
  font-size: 15px;
  color: red;
}

#ButtonForm {
  width: 672px;
  background: #00ab97 !important;
  border-radius: 5px;
  border: none;
}


@media screen and (max-width: 768px) {
  #TextareaForm {
    width: 100%;
  }
  
  #FileInputForm {
    width: 100%;
  }
  
  #ButtonForm {
    width: 100%;
  }
  
  .form__row {
    gap: 20px;
  }

  .dropdown button{
    font-size: 16px !important;
  }
}