.chat-message-system__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 50px;
}

.chat-message-system__box {
  width: 1075px;
  text-align: center;
  border-radius: 15px;
  background: linear-gradient(
      0deg,
      rgba(0, 171, 151, 0.11) 0%,
      rgba(0, 171, 151, 0.11) 100%
    ),
    rgb(255, 255, 255);
  padding: 50px 50px 50px 50px;
}

.chat-message-system__text {
  max-width: 1075px;
  font-family: "TT Norms Pro", sans-serif;
  font-size: 20px;
}

.chat-message-system__time {
  font-family: "TT Norms Pro", sans-serif;
  font-size: 15px;
  color: #5c5c5c;
}
